@font-face{font-family:"LM Roman 8";src:url("../assets/fonts/lmroman8-regular.otf");font-weight:400;font-style:normal}
@font-face{font-family:"LM Roman 8";src:url("../assets/fonts/lmroman8-bold.otf");font-weight:700;font-style:normal}
@font-face{font-family:"LM Roman 8";src:url("../assets/fonts/lmroman8-italic.otf");font-weight:400;font-style:italic}
@font-face{font-family:"LM Roman 9";src:url("../assets/fonts/lmroman9-regular.otf");font-weight:400;font-style:normal}
@font-face{font-family:"LM Roman 10";src:url("../assets/fonts/lmroman10-regular.otf");font-weight:400;font-style:normal}
@font-face{font-family:"LM Roman 10";src:url("../assets/fonts/lmroman10-bold.otf");font-weight:700;font-style:normal}
@font-face{font-family:"LM Roman 10";src:url("../assets/fonts/lmroman10-italic.otf");font-weight:400;font-style:italic}
@font-face{font-family:"LM Roman 10";src:url("../assets/fonts/lmroman10-bolditalic.otf");font-weight:700;font-style:italic}
@font-face{font-family:"LM Roman 12";src:url("../assets/fonts/lmroman12-regular.otf");font-weight:400;font-style:normal}
@font-face{font-family:"LM Roman 12";src:url("../assets/fonts/lmroman12-bold.otf");font-weight:700;font-style:normal}
@font-face{font-family:"LM Roman 12";src:url("../assets/fonts/lmroman12-italic.otf");font-weight:400;font-style:italic}
@font-face{font-family:"LM Roman 17";src:url("../assets/fonts/lmroman17-regular.otf");font-weight:400;font-style:normal}
@font-face{font-family:"LM Roman Demi 10";src:url("../assets/fonts/lmromandemi10-regular.otf");font-weight:700;font-style:normal}
@font-face{font-family:"LM Roman Demi 10";src:url("../assets/fonts/lmromandemi10-oblique.otf");font-weight:700;font-style:italic}
@font-face{font-family:"LM Roman Caps 10";src:url("../assets/fonts/lmromancaps10-regular.otf");font-weight:400;font-style:normal}
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
