:root{
--grid-doc-columns:1; /* @kind other */
--grid-doc-margin:1in;
--grid-web-columns:12; /* @kind other */
--grid-web-gutter:24px;
--grid-web-margin:64px;
--grid-web-max:1200px;
--grid-slide-columns:12; /* @kind other */
--grid-slide-gutter:24px;
--grid-slide-margin:100px;
--grid-mobile-columns:4; /* @kind other */
--grid-mobile-gutter:16px;
--grid-mobile-margin:20px;
--grid-tablet-columns:8; /* @kind other */
--grid-tablet-gutter:20px;
--grid-tablet-margin:40px;
--grid-baseline:20px;
}
